$metal-gold: hsla(48, 78%, 45%, 1)
$jonquil: hsla(48, 93%, 55%, 1)
$mustard: hsla(46, 98%, 65%, 1)
$medium-champagne: hsla(48, 93%, 84%, 1)
$light-champagne: hsla(48, 93%, 94%, 1)
$english-rose: hsla(354, 47%, 48%, 1)
$crimson: hsla(356, 92%, 29%, 1)
$crimson-acr: hsla(356, 92%, 29%, .9)
$rosewood: hsla(356, 93%, 16%, 1)
$dark-sienna: hsla(355, 95%, 8%, 1)

$dark-red: hsla(356, 93%, 29%, 1)
$hotish-pink: hsla(356, 65%, 70%, 1)
$pastel-pink: hsla(356, 54%, 78%, 1)
$pale-pink: hsla(357, 95%, 92%, 1)

$primary: $rosewood
$primary-shade: $dark-sienna
$primary-light: $crimson
$accent: $pastel-pink
$accent-shade: $hotish-pink
$accent-light: $pale-pink
$tertiary: $jonquil

$text-light: #fafafa
$text-light-fade: $hotish-pink
$text-dark: #111

$site-bg: $light-champagne

$nav-text: $text-light
$nav-bg: $crimson-acr
$nav-bar-bg: $primary
$nav-open-bg: $primary
$nav-link-focus: $primary
$nav-bar-link-focus: $primary-shade
$nav-accent: $primary
$nav-border: none
$nav-border-radius: 9999px

$card-text: $crimson
$card-bg: #fafafa
$card-bg-alpha: #ffffffaa

$bttn-link-text: #fafafa
$bttn-link-bg: $primary
$bttn-link-bg-hover: $primary-shade
$bttn-link-radius: 8px

$action-text: $text-light
$action-bg: $primary
$action-bg-hover: $primary-shade
$action-border-color: transparent
$action-border-width: 2px
$action-border-radius: 8px

$landing-background: $accent
$landing-upper: $primary
$landing-upper-text: $landing-background
$portrait-border-width: 4px
$portrait-border: $portrait-border-width solid $landing-background
$portrait-left-margin: 10px
$portrait-bleed: 40px
$landing-lower-text: $landing-upper
$summary-text-margin: calc($portrait-border-width + $portrait-left-margin)

// Sizes
$phablet-width: 450px
$tablet-width: 760px
$partial-width: 1200px
$fullsize-width: 1400px

$banner-height: 40px